@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Source+Sans+Pro:wght@700&display=swap');

@font-face {
    font-family: 'Segoe UI Variable';
    src: url(fonts/SegoeUIVF.ttf);
    font-weight: normal;
    font-size: 1em;
}
@font-face {
    font-family: 'Bahnschrift';
    src: url(fonts/Bahnschrift.TTF);
    font-weight: 100;
    font-size: 1em;
}


:root{

    --color-dBlue: #576CFF;
    --color-dBlue-light: #4F8AE8;
    --color-skyBlue: #64C8FF;
    --color-cyanBlue: #4FDBE8;
    --color-aquaCyan: #57FFDF;
    --color-lightgray: #d6d6d6;
    --color-smoke: #f5f5f5;
    --color-dark: #202020;

    --font-1: 'Nunito', sans-serif;
    
    --font-logo-1: 'Source Sans Pro', sans-serif;
    --font-logo-2: 'Segoe UI Variable', sans-serif;
    --font-logo-3: 'Bahnschrift', sans-serif;

}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Esconder a scrollbar no Chrome, Safari e Opera */
body::-webkit-scrollbar {
    display: none;
}
/* Esconder a Scrollbar em IE, Edge e Firefox */
body{
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */

    background: var(--color-smoke);

    display: grid;
    height: 100vh;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:'x x'
                        'y z';
}

.topbar{
    position: relative;
    grid-area: x;
    width: 100%;
    height: 30px;
    background: var(--color-dark);

}
.topbar h1{
    font-size: 1.3em;
    font-family: var(--font-logo-1);
    line-height: 1.4em;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
.sidebar{
    grid-area: y;
    background: var(--color-smoke);
    width: 15vw;
    height: 96vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: center;

}
.profile{

    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.profile-picture img{ 
    width: 100%;
    border: 5px solid var(--color-dark);
    border-radius: 50%;
}
.profile-info{
    color: var(--color-dark);
    
}
.profile-info h2{
    font-family: var(--font-1);
}
.games{
    grid-area: z;
    width: 85vw;
    border-top-left-radius: 20px;
    background: linear-gradient(90deg, rgba(136,181,255,1) 11%, rgba(193,254,255,1) 100%);
    box-shadow: 2px 5px 30px #2020203d inset;
    
}