@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:wght@300&family=Palanquin:wght@700&display=swap');


:root{
    --cor1: #fff;
    --cor2: #9FEDE3;
    --cor3: #A6ECF7;
    --cor4: #A1C7E0;
    --cor5: #A6C1F7;
    --cor6: #9FA5ED;

    --cor-hovering: #d6d6d667;

    --font-destaque: 'Palanquin', sans-serif;
    --font-default: 'Nunito', sans-serif;
    --font-presentation: 'Kaushan Script', cursive;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
    min-width: 250px;
}
header{
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to top right, var(--cor6), #ffffff3a), url(img/header-background01.jpg);
    background-size: cover, cover;
    background-position: center, center;
    background-attachment: fixed, fixed;
    box-shadow: 1px 1px 90px #00000090 inset, 1px 0px 20px #00000090;
    text-align: center;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    color: white;
}
.profile-basic{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile-img img{
    max-width: 250px;
    border-radius: 150px;
}
.profile-name{
    padding: 20px 0px;
    text-align: left;
}
.profile-presentation{
     font-family: var(--font-presentation);
     font-size: 2em;
}
.profile-name h1{
    font-family: var(--font-destaque);
    font-size: 4em;
    text-transform: capitalize;
    line-height: 0.9em;
}
.profile-bio {
    max-width: 440px;
    font-size: 0.9em;
    text-align: left;
    font-family: var(--font-default);
}
nav {
    position: absolute;
    top: 10px;
    left: 10px;  
}
input[type=checkbox]{
    display: none;
}
.nav-icon{
    height: 3px;
    min-width: 20px;
    max-width: 30px;
    width: 2vw;
    background: white;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
}
.nav-content{
    display: none;
    position: absolute; /* Faz com que lista sobreponha qualquer elemento abaixo */
    height: 120px;
    width: 120px;
    background: linear-gradient(to right bottom, #ffffff5e, #ffffffef);
    box-shadow: 2px 2px 9px #0000006d;
    border-radius: 5px;
    z-index: 1; /* Tras o elemento à frente de todos os outros */
}
.nav-content ul{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
.nav-content ul li{
    width: 100px;
    text-align: left;
    border-radius: 15px;
    padding: 5px;
}
.img{
    display: inline-block;
    vertical-align: text-bottom;
    width: 20%;
    padding-right: 5px;
}
.img img{
    width: 100%;
}
.nav-content ul a{
    vertical-align: middle;
    text-decoration: none;
    font-family: var(--font-default);
    color: #161616;
}
#nav:checked ~ .nav-content{
    display: block;
}
.nav-content ul li:hover{
    background-color: white;
}
main{

    background-color: #202020;
    background-image: linear-gradient(to bottom right, #9fa5ed, #9fa5ed48);
    background-size: cover;
    background-position: right top;
    background-attachment: scroll;
    padding: 100px;
}
.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.projetos h2{
    margin-bottom: 100px;
    color: white;
    font-family: var(--font-default);
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 3px 6px #0000006d;
}
.project-list{
    display: flex;
    max-width: 970px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.project-list a{
    text-decoration: none;
    margin: 10px;
    color: #000000;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    height: 300px;    
    background: #ffffffd6;
    /*border: 1px solid var(--cor5);*/
    border-radius: 10px;
    box-shadow: 2px 3px 10px #0000006d; 
    transition: all 0.5s;   
}
.card img{
    width: 100%;
    border-radius: 10px;
    border: 1px hidden;
}
.card h3{
    margin-top:20px;
    text-align: center;
    font-family: var(--font-default);
    font-weight: normal;
    text-shadow: 0px 0px 3px #0000002d;
}
.card .back{
    display: none;
    padding: 0px;
    text-align: center;
}
.back p{
    margin-top: 20px;
    text-align: left;
}
.card:hover{
    background: white;
}
.card:hover .cover{
    display: none;
}
.card:hover .back{
    display: block;
}
.mais{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aprendizado{
    display: flex;
    justify-content: center;
    max-width: 600px;
    min-width: 200px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 2px 3px 10px #ffffff6d;
    border: 1px solid #000000d6;
    border-radius: 10px;
}
.aprendizado-info{
    width: 60%;
}
.aprendizado-info h3{
    font-family: var(--font-default);
    font-size: 1.6em;
    font-weight: bold;
    padding: 20px 0px;
}
.aprendizado-info p{
    text-align: justify;
    font-family: var(--font-default);
    font-weight: bolder;
}
.aprendizado img{
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    border-radius: 10px;
}
footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 5px solid var(--cor2);
    background: black;
    color: var(--cor1);
}
footer p{
    text-align: center;
}
footer a{
    color: var(--cor2);
    text-decoration: none;
}
.attribution{
    padding: 30px;
}
