@charset "URF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@400&display=swap');

:root{
    --cor1: #E2E2E2;
    --cor2: #D8D4D5;
    --cor3: #6E7271;
    --cor4: #0A2239;
    --cor5: #1D1128;

    --font-destaque: 'Montserrat',
    sans-serif;
    --font-default: 'Roboto',
    sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
    min-width: 250px;
}
header{
    height: 100vh;
    position: relative;
    /*background-color: var(--cor3);*/
    background-image: url(img/header-background01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 1px 1px 90px #00000090 inset;
    text-align: center;
}
.title{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #ffffffb4;
    background: linear-gradient(165deg , #ffffff5e, #ffffffef);
    box-shadow: 3px 5px 15px #00000056;
    backdrop-filter: blur(6px);
    border-radius: 15px;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile-basic{
    display: flex;
    justify-content: center;
}
.profile-img img{
    max-width: 150px;
    box-shadow: 2px 4px 10px #0000006d;
    border-radius: 100px;
}
.profile-name{
    margin-left: 20px;
}
.profile-name h1{
    margin-top: 35px;
    padding: 15px 0px;
    color: #161616;
    font-family: var(--font-destaque);
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #0000006d;
}
.profile-bio {
    max-width: 440px;
    margin-top: 25px;
    font-family: var(--font-default);
    align-self: center;
}
nav {
    position: absolute;
    top: 10px;
    left: 10px;
    
}
.dropdown{
    position: relative;
    display: inline-block;
}
input[type=checkbox]{
    display: none;
}
.nav-icon{
    height: 3px;
    width: 2vw;
    background: #ffffffad;
    margin: 5px;
    border-radius: 15px;
}
.nav-content{
    display: none;
    position: absolute;
    width: 110px;
    background: linear-gradient(to right bottom, #ffffff5e, #ffffffef);
    box-shadow: 2px 2px 9px #0000006d;
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
    z-index: 1;
}
.nav-content ul{
    list-style-type: none;
    
}
.nav-content ul li{
    width: 90px;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0px;
    margin: 2px 0px;
}
.nav-content ul a{
    text-decoration: none;
    font-family: var(--font-default);
    color: #161616;
}
#nav:checked ~ .nav-content{
    transition: 0.5ms ease-in-out;
    display: block;
}
.nav-content ul li:hover{
    background-color: var(--cor2);
}
main{
    height: 1000px;
    background-color: var(--cor1);
}


@media screen and (max-width: 550px) {
    
.profile-basic{
    flex-direction: column;
}
.profile-name{
    margin: 0px;
}
.profile-name h1{
    margin-top: 20px;
    padding: 0px;
    font-size: 1.8em;
}
.profile-bio{
    min-width: 200px;
}
}
@media screen and (max-width: 280px) {
   header{
    background-image: linear-gradient(165deg, #ffffff5e, #ffffffef), url(img/header-background01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: none;
   }
   .title{
       background: radial-gradient(#ffffffe3, transparent 70%);
       box-shadow: none;   
       backdrop-filter: none;    
   }
}