@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

@font-face {
    font-family: 'digital-display';
    src: url(../font/DS-DIGII.TTF);
    font-weight: normal;
}

:root{
    --font-display: 'digital-display', sans-serif;
}

.font-digital{
    font-family: var(--font-display);
}
.font-default{
    font-family: 'Roboto', sans-serif;
}

.neomorphic{
    border-radius: 18px;
    background: linear-gradient(145deg, #ffffff, #dfe0e1);
    box-shadow:  20px 20px 40px #abacad,
                -20px -20px 40px #ffffff;
}
.neomorphic-inset{
    border-radius: 18px;
    background: linear-gradient(145deg, #ffffff, #dfe0e1);
    box-shadow:  5px 5px 9px #b1b1b1,
                 -11px -11px 20px #f7f7f7;
}
.neomorphic-inset-dark{
    border-radius: 18px;
    background: linear-gradient(145deg, #9e9e9e, #bcbcbc);
    box-shadow:  5px 5px 10px #a0a0a0, 
                -5px -5px 10px #d3d3d3;
}

.keys{
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-areas:'optDel optMinus optPlus optMulti'
                        'num7 num8 num9 optDivide'
                        'num4 num5 num6 optEquals'
                        'num1 num2 num3 num0';
}

#_0{
    grid-area: num0;
}
#_1{
    grid-area: num1;
}
#_2{
    grid-area: num2;
}
#_3{
    grid-area: num3;
}
#_4{
    grid-area: num4;
}
#_5{
    grid-area: num5;
}
#_6{
    grid-area: num6;
}
#_7{
    grid-area: num7;
}
#_8{
    grid-area: num8;
}
#_9{
    grid-area: num9;
}
#minus{
    grid-area: optMinus;
}
#plus{
    grid-area: optPlus;
}
#multiply{
    grid-area: optMulti;
}
#divide{
    grid-area: optDivide;
}
#Del{
    grid-area: optDel;
}
#equals{
    grid-area: optEquals;
}

button{
    outline: none;
    border: none;
}
.btn-key{
    min-width: 70px;
}
.btn-hover{
    opacity: 100%;
    transition: all 0.1s ease-in-out;
}
.btn-hover:hover{
    background: #ffffff8c;
    transform: scale(102%);
    opacity: 75%;
}