@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

@font-face {
    font-family: 'digital-display';
    src: url(../font/DS-DIGII.TTF);
    font-weight: normal;
}

:root{
    --font-display: 'digital-display', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
button{
    outline: none;
    border: none;
}
.font-digital{
    font-family: var(--font-display);
}
.font-default{
    font-family: 'Roboto', sans-serif;
}
.neumorphic{
    border-radius: 18px;
    background: linear-gradient(145deg, #ffffff, #dfe0e1);
    box-shadow:  20px 20px 40px #abacad,
                -20px -20px 40px #ffffff;
}
.neumorphic-inset{
    border-radius: 18px;
    background: linear-gradient(145deg, #ffffff, #dfe0e1);
    box-shadow:  5px 5px 9px #b1b1b1,
                 -11px -11px 20px #f7f7f7;
}
.neumorphic-inset-dark{
    border-radius: 18px;
    background: linear-gradient(145deg, #9e9e9e, #bcbcbc);
    box-shadow:  5px 5px 10px #a0a0a0, 
                -5px -5px 10px #d3d3d3;
}
.btn-hover{
    transition: transform 0.1s ease-in-out;
}
.btn-hover:hover{
    transform: scale(102%);
}
.grid-container{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: minmax(70px, auto) repeat(5, 50px);
    grid-gap: 10px;
    transition: all 0.2 ease-in-out;
}
.output{
    grid-column: 1 / -1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    word-wrap: break-word;
    word-break: break-all;
    z-index: 1;
}
.previous-operand{
    color: #ffffffaa;
    font-size: 1.2rem;
}
.current-operand{
    color: #ffffff;
    font-size: 2rem;
}
.grid-container button{
    font-size: 1rem;
}
.span-2{
    grid-column-end: span 2;
}