@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------ Variáveis -------------------- */
:root{

    --color-scarlet-red: #d30000;
    --color-background-gray: #d6d6d6;
    
    --font-default: 'Roboto', sans-serif;
}

/* Resetando as configurações padrões --------------- */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*--------------- Barra de navegação ---------------- */

nav{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    padding: 20px 35px;
    justify-content: space-between;
    align-items: center;
}
/* Título do Site ----------------------------------- */
.title{
    font-family: var(--font-default);
    font-style: italic;
    font-size: 1.5em;
}
.title-highlight{
    color: var(--color-scarlet-red);
}
/* Links de navegação ------------------------------- */
.nav-ul ul{
    list-style: none;
}
.nav-ul ul li{
    display: inline-block;
    margin: 5px;
    border-radius: 15px;
}
.nav-ul ul li a{
    padding: 10px 20px;
    font-family: var(--font-default);
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.nav-ul ul .nav-login{
    margin: 0px 0px 0px 1.5em;
    padding: 10px 0px;
    background: var(--color-scarlet-red);
}
.nav-ul ul .nav-login a{
    padding: 10px 45px;
    color: white;
}

/* ------------------- Sessão 1 --------------------- */

.section-one{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10%;
}
.section-one-img{
    max-width: 400px;
    justify-self: end;
    align-self: center;
}
.section-one-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.section-one-text{
    justify-self: start;
    align-self: center;
}
.section-one-offer{
    font-family: var(--font-default);
    font-size: 1.2em;
    font-weight: bold;
}
.section-one-text-highlight{
    font-size: 3em;
    color: var(--color-scarlet-red);
}
.section-one-btn{
    display: inline-block;
    padding: 10px 30px;
    margin-top: 45px;
    border-radius: 15px;
    background: var(--color-scarlet-red);
    font-family: var(--font-default);
    font-weight: bold;
    text-align: center;
}
.section-one-btn a{
    color: white;
    text-decoration: none;
}

/* ------------------- Sessão 2 --------------------- */

.section-two{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10%;
}
.section-two-text{
    display: inline-block;
    align-self: center;
    justify-self: end;
}
.section-two-text ul{
    margin-right: 100px;
    list-style: none inside;
    border-left: 3px solid var(--color-scarlet-red);
    text-indent: 20px;
}
.section-two-text ul li{
    padding: 7px 0px;
    font-family: var(--font-default);
    font-weight: bold;
}
.section-two-img{
    max-width: 400px;
    align-self: center;
}
.section-two-img img{
    width: 100%;
    object-fit: contain;
}

/* ------------------ Sessão 3 ---------------------- */

.section-three{
    max-width: 790px;
    height: 20vh;
    margin: auto;
    margin-bottom: 100px;
}
.section-three-text{
    padding: 20px 0px;
    font-family: var(--font-default);
    font-weight: bold;
    font-size: 1.2em;
}
.section-three-call input[type="tel"]{
    width: 200px;
    height: 30px;
    padding: 20px;
    border-radius: 16px;
    border: none;
    background-color: var(--color-background-gray);
    color: white;
}
.section-three-call input[type="tel"]:enabled{
    outline: none;
}
.section-three-call button{
    height: 40px;
    width: 150px;
    border-radius: 15px;
    border: none;
    background: var(--color-scarlet-red);
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}

/* ------------------ Sessão 4 --------------------- */

.section-four{
    display: grid;
    height: 40vh;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    justify-items: start;
    align-items: center;
}
.section-four-card1, .section-four-card2{
    display: flex;
    padding: 20px;
    width: 450px;
    height: 140px;
    background: var(--color-background-gray);
    font-family: var(--font-default);
    font-size: 0.9em;
    border-radius: 15px;
}
.card-circle{
    flex: 20%;
    font-size: 5em;
    color: var(--color-scarlet-red);
}
.section-four-card1{
    justify-self: end;
}
.section-four-card-text{
    flex: 80%;
}
.card-text-who{
    margin-top: 10px;
    font-weight: bold;
}
.card-text-from{
    font-size: 0.8em;
}

/* ----------------- Footer ------------------------ */

.footer-container{
    display: grid;
    height: 30vh;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10%;
    background-color: black;
    color: white;
    font-family: var(--font-default);
    justify-items: center;
}
.footer-container img{
    height: 100%;
}
.footer-credits h3{
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.footer-about p{
    margin-top: 10px;
}
.footer-contact p{
    margin-top: 10px;
    line-height: 2em;
}
.footer-social-links{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    height: 25px;
}